.childContainer {
    background-color: white;
}

.contractContainer {
    display: flex;
    justify-content: center;
}

.contractTable {
    border-collapse: separate !important;
    border-spacing: 0 1rem;
}