.rewardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .rewardsListContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .rewardBoxContent {
      width: 30%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.25));
    }
  }

  .rewardsRequestListContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .rewardRequestContent {
      width: 100%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.25));

      .rewardRequest {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .firstName {
          font-weight: 600;
        }
        
        .confirmRewardRequest {
          color: white;
          background-color: #4fd1c5;
          &:hover {
            background-color: #38b2ac;
          }
        }

        .refuseRewardRequest {
          color: white;
          background-color: #f56565;
          &:hover {
            background-color: #e53e3e;
          }
        }
      }
      
    }
  }

  .addRewardContainer {
    position: fixed;
    font-weight: 600;
    background-color: rgb(79, 209, 197);
    border-top: 1px solid white;
    border-radius: 0.5rem 0.5rem 0 0;
    width: calc(100vw - 15rem);
    bottom: 0;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}