.loginContainer {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .loginContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .actionLogin {
      display: flex;
      justify-content: space-between;
    }
  }

  .buttonLogin {
    color: white;
    background-color: #4fd1c5;
    &:hover {
      background-color: #38b2ac;
    }
  }
}

.background {
  background-color: #fffaf0;
  position: fixed;
  top: 0;
  left: 0rem;
  bottom: 0;
  right: 0;
  z-index: -1;

  path:first-of-type {
    fill: url(#shape-gradient-1) #ed8936;
  }
  path:last-of-type {
    fill: url(#shape-gradient-2) #ed8936;
  }
}
